{% extends 'base.html.twig' %}

{% block body %}

<div class="list">
    {% for post in posts %}
        <div class="post-item">
            <a href="/post/{{ post.id }}">{{ post.title }}</a>
            <p class="short-description">{{ post.text }}</p>
            <span>{{ post.createdAt|date }}</span>
        </div>
    {% endfor %}
</div>

{% endblock %}
