{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('form.comment_form').submit(function (event) {
                event.preventDefault();

                const path = '{{ path('comment_create') }}';
                let comment = $('form.comment_form').find('.comment_text').val();

                $.ajax({
                    url: path,
                    method: "POST",
                    data: {
                        postId: {{ post.id }},
                        comment: comment
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}

<h1>{{ post.title }}</h1>

<span>{{ post.createdAt|date }}</span>

<span>{{ post.createdBy.username }}</span>

{% if is_granted('ROLE_ADMIN') %}
    <a href="/post/delete/{{ post.id }}">Delete</a>
{% endif %}

<p>{{ post.text }}</p>

    {% if is_granted('ROLE_USER') %}
        <form class="comment_form">
            <label>
                Add your comment:
                <textarea class="comment_text"></textarea>
            </label>
            <button type="submit" class="comment_create">Create</button>
        </form>
    {% endif %}

    <div class="comments">
    {% if post.getComments()|length > 0 %}
        {% for comment in post.getComments() %}
            <div class="comment" data-id="{{ comment.id }}">
                <span class="comment_author">{{ comment.createdBy.username }}</span>
                <span class="comment_createdAt">{{ comment.createdAt|date }}</span>
                <p class="comment_text">{{ comment.text }}</p>
            </div>
        {% endfor %}
    {% else %}
    <p>No comments for this post</p>
    {% endif %}
</div>
{% endblock %}
